.accountBalanceTable {
  padding-bottom: 50px;
}
.accountBalanceTable h3 {
  font-family: Microsoft JhengHei, arial;
  color: #CC0000;
}

@media (max-width: 767.5px) {

  .accountBalanceTable span {
    width: 100% !important;
  }
}